@model IEnumerable <PhotoWork.Models.Service>

@{
    ViewBag.Title = "SearchByService";
    if (Session["ROLE"] == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (String.Compare(Session["ROLE"].ToString(), "client") == 0)
    {
        Layout = "~/Views/Shared/_ClientLayout.cshtml";
    }

}

<div class="container" style="margin-top:50px">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="service-form">
                    <img src="~/Content/img/01.jpg" class="img-service" />
                    <div class="photographer-pro">
                        <img src="~/Content/img/01.jpg" class="avatar" />
                        @Html.DisplayFor(modelItem => item.FullName)
                        <p> @Html.DisplayFor(modelItem => item.Description)</p>
                        <i class="fa fa-star" style="color:#f0b30c">4.2</i>
                    </div><hr />
                    <div class="price">
                        Giá khởi điểm @Html.DisplayFor(modelItem => item.StartingPrice)k
                    </div>
                </div>
            </div>
        }
    </div>
</div>