@model IEnumerable <PhotoWork.Models.Photographer>

@{
    ViewBag.Title = "SearchByPhotographer";
    if (Session["ROLE"] == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (String.Compare(Session["ROLE"].ToString(), "client") == 0)
    {
        Layout = "~/Views/Shared/_ClientLayout.cshtml";
    }
}

<div class="container" style="margin-top:50px">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="service-form">
                    <img src="~/Content/img/01.jpg" class="img-service" />  
                    <div >
                        <p style="text-align:center;font-weight:bold">@item.FullName</p>
                        <p style="text-align:center">@item.Bio</p>
                        <p style="text-align:center">Số đơn đã phục vụ: @item.TotalProjectDone</p>
                        <p style="text-align:center">Số điện thoại: @item.phoneNumber</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>